In [14]:
import numpy as np
import xarray as xr
import pandas as pd

In [24]:
nctest = netCDF4.Dataset('Datasets/gdhy_v1.2_v1.3_20190128/rice/yield_2016.nc4')

In [25]:
nctest.variables.keys()

dict_keys(['lon', 'lat', 'var'])

In [26]:
lon = nctest.variables['lon']
lat = nctest.variables['lat']
yields = nctest.variables['var']

In [3]:
import nctoolkit as nc
from netCDF4 import Dataset

In [4]:
file_name = 'Datasets/gdhy_v1.2_v1.3_20190128/rice/yield_2016.nc4'

In [5]:
file_id = Dataset(file_name)

In [6]:
#ds = nc.open_data('Datasets/gdhy_v1.2_v1.3_20190128/rice/yield_2016.nc4')
#ds.tmean()
#df = ds.to_dataframe()

In [10]:
lon = file_id.variables['lon'][:]
lat = file_id.variables['lat'][:]
var = file_id.variables['var'][:]

In [27]:
file_id.variables['var'].dimensions

('lat', 'lon')

In [19]:
print(np.min(lon))
print(np.max(lon))
print(lon.shape)

0.25
359.75
(720,)

In [20]:
print(np.min(lat))
print(np.max(lat))
print(lat.shape)

-89.75
89.75
(360,)

In [21]:
print(np.min(var))
print(np.max(var))
print(var.shape)

0.0
25.44142
(360, 720)

In [22]:
lons, lats = np.meshgrid(lon, lat)

In [28]:
lats.shape

(360, 720)

In [46]:
location = lats.reshape(-1,1)
yields = var.reshape(-1,1)

location = np.squeeze(location)
yields = np.squeeze(yields)

In [47]:
location.shape

(259200,)

In [48]:
yields.shape

(259200,)

In [49]:
df = pd.DataFrame({'location': location, 'Yield': yields})

In [50]:
df.head()

   location  Yield
0    -89.75    NaN
1    -89.75    NaN
2    -89.75    NaN
3    -89.75    NaN
4    -89.75    NaN